    <!-- <h1 class="test_cls">VeNote</h1> -->
    <!-- <img src="/static/img/logo_small.png" alt="VeNote" class="logo_img"> -->
    <!-- <img src="/static/img/VeNote_small.png" alt="VeNote" class="logo_img"> -->
    <!-- <img src="/static/img/Venote3.png" alt="VeNote" class="logo_img"> -->
    <!-- <img src="/static/img/Venote4.png" alt="VeNote" class="logo_img"> -->
    <!-- <img src="/static/img/VeNote5.png" alt="VeNote" class="logo_img"> -->
    <!-- <img src="/static/img/VeNote5_2.png" alt="VeNote" class="logo_img"> -->
    <!-- <img src="/static/img/Venote_blue.svg" alt="VeNote" class="logo_img"> -->
    <img src="/static/img/Venote3_green.svg" alt="VeNote" class="logo_img">

