<!DOCTYPE html>
<html lang="en">
<head>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- STYLE .css -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/partials/logo.css">
    <link rel="stylesheet" href="/static/css/partials/btn_area_wrapper.css">
    <link rel="stylesheet" href="/static/css/partials/textarea.css">
    <link rel="stylesheet" href="/static/css/partials/animated_btn.css">
    <link rel="stylesheet" href="/static/css/partials/card3.css">
    <link rel="stylesheet" href="/static/css/partials/search_results.css">
    <link rel="stylesheet" href="/static/css/partials/btn_wrapper.css">
    <link rel="stylesheet" href="/static/css/partials/codehilite.css">
    <title>
        Venote
    </title>
</head>
<body>
    <!-- LOGO  -->
    {% include "partials/logo.html" %}
    <!-- MAIN TEXTAREA  -->
    <textarea class="note_textarea" id="main_note_input" placeholder="Note text..."></textarea>
    <!-- BUTTONS UNDER TEXTAREA -->
    <div class="btn_area_wrapper">
        <!-- SAVE NOTE BUTTON  -->
        {% with button_id="save-note-btn", button_text="⤓ save note" %}
            {% include "partials/base_button.html" %}
        {% endwith %}
        <!-- VECTOR SEARCH BUTTON  -->
        {% with button_id="search-note-btn", button_text="⌕ vector search" %}
            {% include "partials/base_button.html" %}
        {% endwith %}
        <!-- SQL SEARCH BUTTON  -->
        {% with button_id="search-note-sql-btn", button_text="⌕ sql search" %}
            {% include "partials/base_button.html" %}
        {% endwith %}
    </div>
    <!-- ALL SEARCH RESULT PARENT DIV -->
    <div id="search-results" class="search-results"></div>
    <!-- INDIVIDUAL SEARCH RESULT TEMPLATE -->
    <template id="search-result-template">
        <div class="card3" id="card">
            <p class="card-content">Lorem ipsum</p>
            <div class="all_buttons">
                <!-- DELETE NOTE BUTTON  -->
                {% with button_id="del_note", button_text="X delete note" %}
                    {% include "partials/base_button.html" %}
                {% endwith %}
                <!-- UPDATE NOTE BUTTON  -->
                {% with button_id="update_note", button_text="⟳ update note" %}
                    {% include "partials/base_button.html" %}
                {% endwith %}
            </div>
        </div>
    </template>
    <!-- SAVE / UPDATE_NOTE NOTE BUTTON TEMPLATE -->
    <template id="save_btn_template">
        {% with button_id="save_note", button_text="↓ save note" %}
            {% include "partials/base_button.html" %}
        {% endwith %}
    </template>
    <!-- TEXTAREA TEMPLATE -->
    <template id="textarea_template">
        <textarea class="note_textarea" id="note_input" placeholder="Note text..."></textarea>
    </template>
    <!-- CANCEL UPDATE BUTTON TEMPLATE -->
    <template id="cancel_btn_template">
        {% with button_id="cancel_update", button_text="↓ cancel update" %}
            {% include "partials/base_button.html" %}
        {% endwith %}
    </template>

<script src="/static/js/main.js"></script>
</body>
</html>
